In [4]:
#Import libraries 
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv(r'C:\Users\dhami\Downloads\GitHub_Capstone_Project\CTREA-Dynamics\data\Real_Estate_Sales_2001-2020_GL.csv')
df.head()

C:\Users\dhami\AppData\Local\Temp\ipykernel_52284\1508374523.py:1: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\dhami\Downloads\GitHub_Capstone_Project\CTREA-Dynamics\data\Real_Estate_Sales_2001-2020_GL.csv')

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN

In [7]:
df.shape

(997213, 14)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997213 entries, 0 to 997212
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     997213 non-null  int64
 1   List Year         997213 non-null  int64
 2   Date Recorded     997211 non-null  object
 3   Town              997213 non-null  object
 4   Address           997162 non-null  object
 5   Assessed Value    997213 non-null  float64
 6   Sale Amount       997213 non-null  float64
 7   Sales Ratio       997213 non-null  float64
 8   Property Type     614767 non-null  object
 9   Residential Type  608904 non-null  object
 10  Non Use Code      289681 non-null  object
 11  Assessor Remarks  149864 non-null  object
 12  OPM remarks       9934 non-null    object
 13  Location          197697 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 106.5+ MB

In [9]:
df.describe()

,Serial Number,List Year,Assessed Value,Sale Amount,Sales Ratio
count,9.972130e+05,997213.000000,9.972130e+05,9.972130e+05,9.972130e+05
mean,4.311864e+05,2010.189829,2.791437e+05,3.911512e+05,1.044637e+01
std,6.549219e+06,6.237877,1.670610e+06,5.347270e+06,1.890192e+03
min,0.000000e+00,2001.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.044400e+04,2004.000000,8.760000e+04,1.400000e+05,4.867000e-01
50%,7.030300e+04,2010.000000,1.383900e+05,2.250000e+05,6.246000e-01
75%,1.518780e+05,2016.000000,2.255600e+05,3.650000e+05,7.852761e-01
max,2.000500e+09,2020.000000,8.815100e+08,5.000000e+09,1.226420e+06

In [10]:
df.size

13960982

In [11]:
df.sample(5)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
2119,2000284,2020,06/23/2021,Bloomfield,3 REGENCY DRIVE,397740.0,225000.0,1.7677,Commercial,NaN,24 - Plottage,NaN,NaN,NaN